/* Menu  */
body{
    background: #fff;
    margin: 0;
    padding: 0;
}
.group-btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.btn-click{
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
    background: #0D08F8;
    font-size: 40px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-click:hover{
    color: white;
    background: #7775e7;
}
.logo{
    margin-bottom: 100px;
}
.logo img{
    width: 200px;
    height: 80px;
    margin-left: 50px;
    margin-top: 20px;
}
.page-title{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.item-center{
    width: 50%;
    margin: auto;
    font-size: large;
}
li{
    margin-bottom: 10px;
}

/* Add question */

.title{
    background-color:#0D08F8;
    padding-bottom: 10px;
}
.btn-back{
    font-size: 40px;
    border: none;
    background: none;
    color: white;
    margin-left: 60px;
}
.btn-back:hover{
    cursor: pointer;
    color: black;
}
.title-create{
    margin-top: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}


.add-question{
    width: 100%;
    border: none;
    outline: none;
    padding:10px 72px ;
    background-color: #C4C4C4;
    font-size: 20px;
    box-sizing: border-box;
}
::placeholder{
    font-size: 20px;
}

.choice{
    padding: 5px;
    font-size: 16px;
    position: absolute;
    right: 72px;
    margin-top: 5px;
    border: 2px solid green;
    cursor: pointer;
    border-radius: 5px;
}
.type-of-input{
    margin-bottom: -10px;
}
.type-answer{
    border-top: 5px solid blue;
    margin: 10px 72px  10px 72px;
    border-radius: 10px;
}
.input-answer{
    margin:20px 30px 0 30px;
    padding: 10px;
}
.input-group{
    margin-top: 20px;
    display: flex;
}
.answer{
    margin-top: -10px;
    border: none;
    padding: 10px 15px 5px 5px ;
    border-bottom: 1px dotted green;
    outline: none;
    font-size: 18px;
    width: 100%;
}
.type-of-question{
    font-size: 16px;
    margin: -10px;
    cursor: pointer;
}
.radio{
    margin-top: 15px;
}
.create{
    background-color:#2F2BF8 ;
    padding: 10px 20px;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 2px;
}




/* show answers=============================== */
.show-task{
    border: 1px solid rgb(199, 199, 199);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 20px 70px;
    /* padding: 15px; */
}
.show-question{
    background-color: #0D08F8;
    color: white;
    font-size: 22px;
    padding: 20px;
}
.contain-answer{
    display: flex;
    align-items: center;
    /* padding: 0px 20px; */
    margin: -10px 20px;
    font-size: 20px;
}

.contain-answer li{
    /* background-color: aqua; */
    list-style-type: circle;
    font-size: 40px;
    width: 30px;
}
/* .contain-answer .checkbox{
    background-color: aqua;
    list-style-type: square;
    color: #7775e7;
    font-size: 40px;
    width: 30px;
} */
.contain-answer .correct{
    list-style-type: disc;
    color: #0D08F8;
    font-size: 40px;
    width: 30px;
}
.button-group{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px 35px;
    text-align: right;
}
.button-edit{
    padding: 7px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0D08F8;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 0 10px;
}
.button-delete{
    padding: 7px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(221, 0, 0);
}