/* Menu  */
body{
    background: #fff;
    margin: 0;
    padding: 0;
}
.group-btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.btn-click{
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
    background: #0D08F8;
    font-size: 40px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-click:hover{
    color: white;
    background: #7775e7;
}
.logo{
    margin-bottom: 100px;
}
.logo img{
    width: 200px;
    height: 80px;
    margin-left: 50px;
    margin-top: 20px;
}
.page-title{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.item-center{
    width: 50%;
    margin: auto;
    font-size: large;
}
li{
    margin-bottom: 10px;
}

/* Add question ==========================================================================*/
.create-question{
    position: sticky;
    top: -20px;
    z-index: 99999;
}
.title{
    
    display: flex;
    justify-content: space-between;
    background-color:#0D08F8;
    padding-bottom: 5px;
}

.btn-back{
    font-size: 40px;
    border: none;
    background: none;
    color: white;
    margin-left: 20px;
}
.btn-back:hover{
    cursor: pointer;
    color: black;
}
.quiz-title{
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    background-color: #C4C4C4;
    font-size: 20px;
}


.add-question{
    width: 100%;
    border: none;
    outline: none;
    padding:10px 72px ;
    background-color: #C4C4C4;
    font-size: 20px;
    box-sizing: border-box;
}
::placeholder{
    color: rgb(228, 72, 72);
    font-size: 20px;
}

.choice{
    padding: 5px;
    font-size: 16px;
    position: absolute;
    right: 72px;
    margin-top: 5px;
    border: 2px solid green;
    cursor: pointer;
    border-radius: 5px;
}
.type-of-input{
    margin-bottom: -10px;
}
.type-answer{
    border-top: 5px solid blue;
    margin: 10px 72px  10px 72px;
    border-radius: 10px;
}
.input-answer{
    margin:20px 30px 0 30px;
    padding: 10px;
}
.input-group{
    margin-top: 20px;
    display: flex;
}
.answer{
    margin-top: -10px;
    border: none;
    padding: 10px 15px 5px 5px ;
    border-bottom: 1px dotted green;
    outline: none;
    font-size: 18px;
    width: 100%;
}
.type-of-question{
    font-size: 16px;
    margin: -10px;
    cursor: pointer;
}
.radio{
    margin-top: 15px;
}
.create{
    color: white;
    background-color:#2F2BF8 ;
    padding: 10px 20px;
    margin-left: 72px;
    cursor: pointer;
    border-radius: 2px;
}
.create:hover{
    color: #C4C4C4;
}
.btn-save{
    position: absolute;
    right: 70px;
    color: white;
    top: 10px;
    font-size: 20px;
    background-color: #C4C4C4 ;
    padding: 5px 20px;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 2px;

}.btn-save:hover{
    color: green;
}



/* show answers=============================== */
.show-task{
    border: 1px solid rgb(199, 199, 199);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 20px 72px
    /* padding: 15px; */
}
.show-question{
    background-color: #0D08F8;
    color: white;
    font-size: 22px;
    padding: 20px;
}
.contain-answer{
    display: flex;
    align-items: center;
    /* padding: 0px 20px; */
    margin: -10px 20px;
    font-size: 20px;
}

.contain-answer li{
    /* background-color: aqua; */
    list-style-type: circle;
    font-size: 40px;
    width: 30px;
}
/* .contain-answer .checkbox{
    background-color: aqua;
    list-style-type: square;
    color: #7775e7;
    font-size: 40px;
    width: 30px;
} */
.contain-answer .correct{
    list-style-type: disc;
    color: #0D08F8;
    font-size: 40px;
    width: 30px;
}
.button-group{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px 35px;
    text-align: right;
}
.button-edit{
    padding: 7px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0D08F8;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 0 10px;
}
.button-delete{
    padding: 7px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(221, 0, 0);
}

 
.quiz_Container{
    width: 80%;
    margin: auto;
    padding: 10px;
    display: none;
}
.question_Discription{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    height: 15vh;
}
.question_Discription span{
    font-size: 3rem;
    color: blue;
}

/* ============= Question========================*/
.question_Title{
    border-radius: 10px;
    border: 1px solid green;
    width:80%;
    margin: auto;
    display: flex; justify-content: center; align-items: center;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.question_Title p{
    font-size: 2.5rem;
}

 /* -------------Quiz Motiple Choice----------------------------------------- / / */
.answer-Choice{
    width: 60%;
    margin: auto;
    display: flex;justify-content: space-between;
    padding: 10px;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.answer-Choice .btn{
    width: 40%;
    height: 10vh;
    font-size: 2rem;
    border-radius: 5px;
    margin-top: 30px;
    border: none;
    display: flex; justify-content: center; align-items: center;
    border: 1px solid green;
    box-shadow: rgba(138, 139, 241, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.answer-Choice .btn:hover{
    background: #0D08F8;
    color: #fff;
}
.btn_Move{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 10px;
    text-align: center;
}
.btn_Move button, .btn_Start button{
    width: 20%;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    padding: 10px;
    border: 1px solid green;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn_Start{ /*---Get start The quiz---*/
    width: 100%;
    height: 100vh; 
    display: flex; justify-content: center; align-items: center;
}
.btn_Start button{
    background: #0D08F8;
    color: #fff;
}

/*menu on page quiz============================================== */
.show_menu_quiz{
    background-color: #2F2BF8;
    height: 90px;
}

.group-of-button{
    /* background-color: goldenrod; */
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
    position: sticky;
    top: -10px;
    background-color: white;
    border-bottom: 2px solid rgb(211, 211, 211);
}
.contain-button-back-to-homepage{
    /* background-color: orangered; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.back-to-homepage{
    background-color:  #0D08F8;
    color: white;
    padding: 7px 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 50px;
}
.contain-button-menu{
    /* background-color: brown; */
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -115px;
}
.button-on-page-quiz{
    padding: 13px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    width: 110px;
    background-color: #0D08F8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.onpage{
    background-color: #7c79ff;
}

/* menu quiz======================================================= */
.contain-quiz-card{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.quiz-card{
    width: 230px;
    height: 230px;
    margin: 17px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.top:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 2px solid #002fffad; */
}
.top{
    background-color: rgb(221, 236, 236);
    height: 77%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;

}
.bottom{
    background-color: #2F2BF8;
    height: 23%;
    border-radius: 0 0 3px 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
}
.button-bottom{
    width: 70px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.button-bottom:hover{
    color: #0D08F8;
    /* background-color: #d6d6d6; */
}
.button-delete-of-card:hover{
    color: red;
}